*{
    font-family: 'Open Sans', sans-serif;
}
body,html{
    background: #F3F6FB;
}
#root{
    width: 100%;
    height: 100%;
}
.is-invalid{
    border: solid red 2px;
    border-radius: 5px;
    transition: all .3s ease;
}
.is-valid{
    border: solid green 2px;
    border-radius: 5px;
    transition: all .3s ease;
}