.contBox {
  display: flex;
  flex-wrap: wrap;
}
.contBox div {
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  min-width: 20vh;
  min-height: 20vh;
  max-width: 60vh;
  max-height: 60vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  color: #707070;
}
.trazado{
  background-image: url(../img/trazado.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
