ul,
li,
ol {
  list-style: none;
}
ul {
  color: #ffe530;
  font-weight: 700;
}
li {
  color: #ffffff;
  font-weight: 300;
  margin-top: 10px;
}
.newsletterCont h6 {
  font-weight: 700;
  color: #ffe530;
}
.newsletterCont p {
  font-weight: 400;
  color: #ffffff;
}
.newsletterCont div {
  background: white;
  display: flex;
  padding: 5px;
  border-radius: 40px;
  width: 100%;
}
.newsletterCont div input {
  border: none;
  background: none;
  box-shadow: none;
}
.newsletterCont div button {
  border: none;
  background: #ff6752 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #fd68454d;
  opacity: 1;
  color: white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 54px;
  height: 54px;
}
