html, body {
  background-image: url(../img/fondoPage.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.contWeGetPet > h1 {
  font-family: "Museo Sans Rounded 700";
  color: #f8f8f8;
  font-size: 8vh;
}
.contWeGetPet p {
  color: #f8f8f8;
}
.contWeGetPet div button {
  border: none;
  background: #4487ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c1dad29;
  border-radius: 38px;
  font-size: 1em;
  color: #f8f8f8;
  margin-right: 20px;
}
.contWeGetPet div span {
  font-size: 1em;
  color: #f8f8f8;
}
.contImgPerro {
  width: 45vh;
  max-width: 546px;
  height: 45vh;
  max-height: 546px;
  border-radius: 50%;
  background: #FFE530;
  background-position: center;
}
.bgFooter{
  background-image: url(../img/bgFooter.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}