.bgLogin{
  background-image: url(../img/wave1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.perro {
  width: 50vh;
  max-width: 365px;
  height: 50vh;
  max-height: 365px;
}
.tituloLogin {
  font-weight: 600;
  font-size: 25px/55px;
  color: #4d4f5c;
  text-transform: uppercase;
  padding-left: 5vh;
  border-left: #ff6752 solid 8px;
}
input:focus, button:focus{
  outline: none !important;
}
input {
  border: none;
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 3px 4px #00000029;
}
.buttonOlvidaste {
  width: 80%;
  text-align: left;
  font-weight: 400;
  font-size: 14px/13px;
  letter-spacing: 0px;
}
.buttonOlvidaste > a {
  color: #a4afb7 !important;
}
.contBtnLogin{
  width: 80%;
}
.btnLogin {
  border: none;
  background: #4487ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c1dad29;
  border-radius: 38px;
  font-size: 27px;
  color: #f8f8f8;
}
.contRegistrarse{
  width: 80%;
  font-size: 13px;
}
.contRegistrarse > p{
  color: #A4AFB7;
}
.contRegistrarse > a{
  margin-left: 4px;
  color: #015F91;
}