.contTextMake {
  padding: 0em 3em 0em 3em;
}
.contTextMake h1 {
  font-size: 48px/64px;
  font-weight: 700;
  color: #ffe530;
}
.contTextMake p {
  font-size: 1.5em;
  font-weight: 400;
  color: #f8f8f8;
}
.contTextMake button {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  border: none;
  color: #FE6845;
  font-size: 1.4em;
  padding: 20px 40px;
}
.contMake {
  background: #4487ff;
  border-radius: 40px;
}
.contImgPerroMake {
  min-width: 30vh;
  max-width: 334px;
  min-height: 30vh;
  max-height: 334px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe530;
  border-radius: 50%;
}
.contImgPerroMake img {
  width: 90%;
}
