a {
  margin-right: 2rem;
  font: normal normal normal 24px/33px;
  color: #ffffff;
}
a:hover {
  color: #ffffff !important;
}
.contPerro {
  width: 8vh;
  max-width: 78px;
  height: 8vh;
  max-height: 78px;
}
.contPerro > img{
    width: 90%;
}
