.OurServices h1 {
  font-size: 48px/64px;
  font-weight: 700;
  color: #ff6752;
}
.OurServices p {
  font-size: 20px;
  color: #808080;
  opacity: 0.8;
  width: 45vh;
}
.OurServices h6 {
  font-size: 48px/64px;
  font-weight: 700;
  color: #ff6752;
}
.OurServices div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  width: 50%;
}
.OurServices div input {
  background: none !important;
  box-shadow: none;
}
.OurServices div button {
  border: none;
  background: #ff6752 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #fd68454d;
  opacity: 1;
  color: white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 54px;
  height: 54px;
}
